:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-blue: #0b132a;
  --color-yellow: #ffba33;
  --color-yellow-hover: hsl(40, 100%, 72%);
  --color-brown: #6a4029;
  --color-brown-hover: hsl(21, 37%, 35%);
  --color-grayish: #f8f8f8;
  --color-gray: #4f5665;
  --spacing-mobile-horizontal: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Rubik", sans-serif;
  min-width: 320px;
  width: 100%;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

a,
a:visited {
  color: var(--color-gray);
}

.btn {
  border: 0;
  border-radius: 10px;
  padding: 1em;
  font-weight: 700;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 350ms ease-in;
  cursor: pointer;
}

a.btn:hover,
.btn:hover {
  box-shadow: rgba(83, 87, 92, 0.2) 0px 8px 15px;
}

a.btn-yellow,
.btn-yellow {
  background-color: var(--color-yellow);
  color: var(--color-brown);
}

a.btn-yellow:hover,
.btn-yellow:hover {
  background-color: var(--color-yellow-hover);
}

a.btn-white,
.btn-white {
  background-color: var(--color-white);
}

a.btn-brown,
.btn-brown {
  background-color: var(--color-brown);
  color: var(--color-grayish);
}

.btn-brown:hover {
  background-color: var(--color-brown-hover);
}

.btn-bordered-yellow {
  border: 2px solid var(--color-yellow);
}

.auth-container {
  padding: 0 var(--spacing-mobile-horizontal);
  /* height: 100vh; */
  display: flex;
  flex-direction: column-reverse;
}

.auth-item {
  flex: 1;
  height: 100%;
}

.auth-banner {
  display: none;
  background-image: url("./assets/img/auth_banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-content {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 25px;
}

.auth-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 30px;
  height: 33px;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-dark-blue);
}

.auth-content__title {
  font-size: 2.1875rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-brown);
}

.auth-form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
  gap: 20px;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin: 0.3em 0;
}

.input-group input {
  font-size: 1rem;
  padding: 1em;
  outline: none;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}

.input-group .forgot-link {
  color: var(--color-brown);
  text-decoration: underline;
  margin-bottom: 0.5em;
  width: fit-content;
}

.auth-submit {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.google-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: var(--color-black);
}

.google-auth img {
  width: 1rem;
  height: 1rem;
}

.cta-container {
  margin: 70px 0 30px;
  padding: 0 var(--spacing-mobile-horizontal);
}

.cta {
  background-color: #fcfcfc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 25px;
  padding: var(--spacing-mobile-horizontal);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-height: 230px;
  justify-content: space-between;
}

.cta-details h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.cta-button {
  width: fit-content;
  text-align: center;
  align-self: flex-end;
  font-weight: 500;
}

.auth-footer {
  padding: var(--spacing-mobile-horizontal) var(--spacing-mobile-horizontal)
    50px;
  background-color: var(--color-grayish);
  display: flex;
  flex-direction: column-reverse;
}

.auth-footer ul {
  padding: 0;
  list-style: none;
}

.footer-col {
  margin-bottom: var(--spacing-mobile-horizontal);
}

.footer-col li a {
  color: var(--color-gray);
  transition: color 350ms ease-in;
}

.footer-col li a:hover {
  color: var(--color-dark-blue);
}

.auth-footer h3,
.auth-footer .logo-container {
  margin-bottom: 16px;
}

.auth-footer__right {
  margin-bottom: 10px;
  display: block;
  justify-content: space-between;
}

.auth-footer .description {
  font-weight: 400;
  color: var(--color-gray);
  letter-spacing: 1px;
}

.auth-footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.socmed {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.copyright {
  color: #afb5c0;
}

/* FORGOT PAGE */

.forgot-pass-container {
  background-image: url("./assets/img/forgot-password-banner.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--color-white);
  height: 100vh;
  padding: var(--spacing-mobile-horizontal);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 40px; */
}

.forgot-pass-container .btn {
  padding: 0.6em;
}

.forgot-pass__header h1 {
  font-size: 1.25rem;
}

.forgot-pass__form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.forgot-button,
.resend-button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.forgot-pass__resend {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.forgot-pass__resend .resend-button {
  padding: 0.5em 2em;
}

/* PROFILE PAGE */

.spacer {
  padding: 0 var(--spacing-mobile-horizontal);
}

.header-content__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

#menu-toggler {
  display: none;
}

.toggler {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.toggler .bar {
  width: 30px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--color-dark-blue);
}

.header-content__wrapper img {
  max-width: 30px;
  height: 33px;
  overflow: hidden;
}

.menu-wrapper {
  background-color: var(--color-white);
  display: none;
  position: absolute;
  top: 65px;
  left: -25px;
  right: -25px;
  padding: 0.5em var(--spacing-mobile-horizontal);
  border-top: 1px solid var(--color-dark-blue);
  border-bottom: 1px solid var(--color-dark-blue);
  transition: 350ms ease-in;
  /* display: flex;
  flex-direction: column; */
  z-index: 3;
}

.menu-wrapper li {
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .menu-wrapper {
  display: flex;
  flex-direction: column;
}

.menu-wrapper ul {
  list-style: none;
  padding: 0;
}

.menu-wrapper ul li {
  height: 33px;
  line-height: 33px;
}

.menu-wrapper .image-container {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
}

.menu-wrapper .image-container img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.main-content-wrapper {
  background-image: url("./assets/img/bg-profile.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: var(--spacing-mobile-horizontal) 0px;
}

.main-content-wrapper .page-title {
  margin-bottom: var(--spacing-mobile-horizontal);
  color: var(--color-white);
  display: none;
}

.profile-content-wrapper {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875em;
  background-color: var(--color-grayish);
  padding: var(--spacing-mobile-horizontal);
}

.profile-content__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.profile-content__items > * {
  width: 100%;
}

.profile-aside__info {
  text-align: center;
}

.profile-aside__info .name {
  font-weight: bold;
  font-size: 1.25rem;
}

.profile-aside__image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: brown;
}

.profile-aside__image-container img {
  max-height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.profile-content__unordered {
  order: 4;
  text-align: center;
}

.radio-input-group {
  padding: 1.25em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

input[type="radio"] {
  accent-color: var(--color-yellow);
}

.radio-input,
input[type="radio"] {
  width: initial;
}

.profile-aside .text {
  font-size: 1.25rem;
  font-weight: 500;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-mobile-horizontal);
}

.profile-content h3 {
  margin-bottom: 10px;
}

.profile-content .input-group {
  margin-bottom: 1em;
}

.profile-content-wrapper input[type="text"],
.profile-content-wrapper input[type="email"],
.profile-content-wrapper input[type="tel"],
.profile-content-wrapper input[type="date"] {
  background-color: var(--color-grayish);
  border: none;
  border-bottom: 1px solid var(--color-black);
  border-radius: 0;
  padding-bottom: 10px;
  padding-left: 0;
}

.profile-content-wrapper label {
  color: #9f9f9f;
  font-weight: 500;
  margin-bottom: 0;
}

/* PRODUCT SECTION */
.product-page-container {
  display: flex;
  flex-direction: column-reverse;
  border-top: 1px solid var(--color-gray);
  font-family: "Poppins", sans-serif;
}

.product-section__wrapper,
.promo-section__wrapper {
  padding: var(--spacing-mobile-horizontal);
  text-align: center;
}

.product-section__header {
  padding-bottom: var(--spacing-mobile-horizontal);
}

.product-section__wrapper {
  border-bottom: 1px solid var(--color-gray);
}

.product-categories {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.25em;
  white-space: nowrap;
  overflow-x: scroll;
  color: #9f9f9f;
}

.product-categories li {
  cursor: pointer;
  position: relative;
}

.product-categories li.category-selected {
  color: var(--color-brown);
  font-weight: 700;
}

.product-categories li.category-selected::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--color-brown);
  position: absolute;
  bottom: 0;
  left: 0;
}

.product-categories::-webkit-scrollbar {
  display: none;
}

.product-cards__container {
  padding: 1.25em 0;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 35px;
}

.product-card-wrapper {
  width: 160px;
  height: 254px;
  display: flex;
  flex-direction: column-reverse;
}

.product-card {
  padding: 10px;
  width: 160px;
  height: 215px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.product-card-image-wrapper {
  width: 130px;
  height: 130px;
  background-color: rgba(255, 0, 0, 0.452);
  border-radius: 50%;
  transform: translateY(-30%);
  display: inline-block;
  overflow: hidden;
}

.product-card-wrapper:first-child .product-card-image-wrapper img,
.product-card-wrapper:nth-child(9) .product-card-image-wrapper img {
  transform: scale(1.8);
}

.product-card-wrapper:nth-child(2) .product-card-image-wrapper img,
.product-card-wrapper:nth-child(10) .product-card-image-wrapper img {
  transform: scale(1.5) translateY(20px);
}

.product-card-wrapper:nth-child(3) .product-card-image-wrapper img,
.product-card-wrapper:nth-child(7) .product-card-image-wrapper img,
.product-card-wrapper:nth-child(11) .product-card-image-wrapper img {
  transform: scale(1.6);
}

.product-card-wrapper:nth-child(4) .product-card-image-wrapper img,
.product-card-wrapper:nth-child(8) .product-card-image-wrapper img,
.product-card-wrapper:nth-child(12) .product-card-image-wrapper img {
  transform: scale(1.4) translateY(8px);
}

.product-card-wrapper:nth-child(6) .product-card-image-wrapper img {
  transform: scale(1.17) translate(-5px, -4px);
}

.product-card .product-name {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1em;
  margin-top: -32px;
  margin-bottom: 0.5em;
}

.product-card .product-price {
  color: var(--color-brown);
}

.product-card .product-price,
.promo-item-name,
.promo-discount-amount,
.coupon-code {
  font-weight: 700;
}

.promo-section__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.promo-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.promo-section .promo-title {
  color: var(--color-brown);
  font-size: 1.5rem;
  font-weight: 700;
}

.promo-section-content__text,
.coupon-description,
.promo-section-terms {
  font-size: 0.75rem;
}

.promo-section-terms {
  text-align: initial;
  color: #4f5665;
}

.promo-section-terms ol {
  padding: 0;
  list-style-position: inside;
}

.promo-card {
  background-color: #ffcb65;
  width: 284px;
  /* padding: 1.25em; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.promo-card::before {
  content: "";
  height: 85%;
  width: 14px;
  position: absolute;
  top: calc(15% / 2);
  right: -14px;
  background-color: #000000;
  border-radius: 0 20px 20px 0;
}

.promo-card::after {
  content: "";
  height: 70%;
  width: 14px;
  position: absolute;
  top: 15%;
  right: -28px;
  background-color: var(--color-brown);
  border-radius: 0 20px 20px 0;
}

.promo-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 1.25em 28px;
  border-bottom: 1px dashed var(--color-gray);
}

.promo-card__header :first-child,
.promo-card__header :nth-child(3) {
  margin-bottom: 1em;
}

.promo-item-name,
.promo-discount-amount {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.promo-item-description {
  font-size: 0.875rem;
  line-height: 0.875rem;
}

.promo-card-img-wrapper {
  width: 130px;
  height: 130px;
  background-color: rgba(255, 0, 0, 0.555);
  border-radius: 50%;
}

.promo-card__coupon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: var(--spacing-mobile-horizontal);
}

.coupon-code {
  font-size: 2rem;
  font-weight: 700;
}

.promo-section-content .btn {
  width: 284px;
}

/* HOMEPAGE */

img {
  max-width: 100%;
}
.homepage-header .btn {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 20px;
}

.homepage-header .btn-white {
  box-shadow: none;
}

.homepage-header .menu-wrapper {
  align-items: center;
}

.homepage-hero {
  background-image: url("./assets/img/homepage-hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: 700;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: var(--spacing-mobile-horizontal);
  color: #fff;
  /* gap: 30px; */
}

.homepage-hero h2 {
  font-size: 3.125rem;
  line-height: 1em;
}

.homepage-hero p {
  font-size: 1.15rem;
}

.homepage-abs__container {
  position: relative;
  height: 0;
}

.homepage-abs,
.homepage-cta {
  position: absolute;
  background-color: var(--color-white);
  left: 5%;
  width: 90%;
  display: flex;
  padding: var(--spacing-mobile-horizontal);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}

.homepage-abs {
  top: -44px;
}

.homepage-abs__item {
  flex: 1;
  /* padding: 0 var(--spacing-mobile-horizontal); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.homepage-abs__item .icon-wrapper {
  width: 30px;
  height: 30px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-abs__item:last-child .icon-wrapper img {
  width: 60%;
}

.homepage-abs__item:nth-child(2) {
  border-left: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
}

.homepage-abs__text .text {
  font-size: 0.6rem;
  font-weight: 300;
}

.homepage-section {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-mobile-horizontal);
  font-weight: 300;
}

.section__header {
  margin-bottom: 30px;
}

.section__title {
  margin-bottom: 16px;
}

.homepage-section .section__title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-section .section__description {
  text-align: center;
}

.about-section {
  padding-top: 65px;
}

/* .about-container {
  display: flex;
  flex-direction: column;
} */

.about__image-wrapper {
  display: none;
}

.about__content ul {
  list-style: none outside;
  padding: 0;
}

.about__content ul li {
  min-height: 25px;
  background-image: url("./assets/icon/checkmark-icon-ellipse.svg");
  background-repeat: no-repeat;
  padding-top: 1px;
  padding-left: 28px;
  margin-bottom: 0.5em;
}

.favorite__content .favorite-item {
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 25px;
}

.favorite__content .favorite-item:not(:last-child) {
  margin-bottom: 25px;
}

.favorite__content .favorite-item:last-child {
  border-color: #6a4029;
}

.favorite-item .image-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: red;
}

.favorite-item .image-wrapper img {
  border-radius: 50%;
  max-height: 100%;
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
}

.favorite-item__name {
  font-size: 1.125rem;
  font-weight: 500;
}

.favorite-item__price {
  font-size: 1.5rem;
  font-weight: 500;
}

.favorite-item ul {
  padding: 0;
  list-style: none;
}

.favorite-item ul li {
  background-image: url("./assets/icon/checkmark-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 25px;
  min-height: 20px;
  margin-bottom: 16px;
}

.favorite-item ul li:last-child {
  margin-bottom: 0;
}

.favorite-item .btn {
  border-radius: 50px;
  padding: 10px 16px;
  box-shadow: none;
  color: var(--color-brown);
}

.sponsor__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sponsor-img {
  width: 190px;
}

.sponsor-img img {
  filter: grayscale(50) opacity(0.5);
  max-height: 100%;
}

.testimony-section {
  margin-bottom: 112.5px;
}

.testimony-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  overflow-x: scroll;
}

.testimony-item {
  border: 2px solid #ddd;
  border-radius: 10px;
  min-width: 370px;
  width: 100%;
  height: 205px;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-mobile-horizontal);
  gap: var(--spacing-mobile-horizontal);
}

.testimony-item:first-child {
  border-color: #6a4029;
}

.testimony-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.testimony-item__header .customer-info {
  flex: 2;
}

.testimony-item__header .customer-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimony-item__header .customer-image img {
  max-height: 100%;
  width: 100%;
  border-radius: 50%;
}

.customer-info .name {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-dark-blue);
}

.customer-info .location {
  font-size: 0.875rem;
  color: var(--color-gray);
}

.customer-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimony-item__content {
  font-weight: 400;
}

.testimony-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacing-mobile-horizontal);
}

.testimony-left,
.testimony-right {
  display: flex;
}

.testimony-left {
  gap: 15px;
}

.testimony-left > * {
  cursor: pointer;
}

.testimony-right {
  gap: 20px;
}

.pill-shape {
  width: 45px;
  height: 15px;
  border-radius: 45px;
  background-color: var(--color-brown);
}

.circle-shape {
  width: 15px;
  height: 15px;
  background-color: #dde0e4;
  border-radius: 50%;
}

.testimony-right .navigation {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--color-brown);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navigation img {
  width: 50%;
}

.navigation.nav-right {
  background-color: #6a4029;
}

.homepage-cta {
  top: -112.5px;
  height: 225px;
  flex-direction: column;
  gap: var(--spacing-mobile-horizontal);
}

.homepage-cta__content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.homepage-cta__content .title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1em;
}

.homepage-cta__content .description {
  font-weight: 300;
}

.homepage-cta .btn {
  white-space: nowrap;
}

.homepage-footer {
  padding-top: 135px;
}

.product-page-container img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: top; */
  border-radius: 50%;
}

/* MEDIA QUERIES */

/* this  425px breakspoint used for product grid only*/
@media screen and (min-width: 425px) {
  .product-cards__container {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 768px) {
  .auth-container {
    padding: 0;
    height: 120vh;
    flex-direction: row;
  }

  .auth-banner {
    display: block;
  }

  .auth-content {
    padding: 30px;
  }

  .auth-content__header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .cta-container {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .cta {
    position: absolute;
    flex-direction: row;
    min-height: fit-content;
    width: 80%;
    left: 10%;
    top: -70px;
  }

  .cta-details {
    flex: 1;
  }

  .cta-details h2 {
    inline-size: 200px;
    overflow-wrap: break-word;
  }

  .cta-button {
    display: flex;
    align-self: center;
    width: 150px;
    justify-content: center;
  }

  .auth-footer {
    flex-direction: row;
    padding: 115px 45px 45px;
  }

  .general-footer {
    padding-top: 50px;
  }

  .auth-footer__left {
    align-items: flex-start;
    text-align: initial;
    flex: 2;
  }

  .socmed {
    margin-left: -20px;
  }

  .auth-footer__right {
    margin: 0;
    flex: 3;
    padding-top: 8px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }

  .footer-col li {
    line-height: 1.5em;
  }

  /* ==============================  */
  /*  END OF LOGIN & SIGN UP STYLE  */
  /* ==============================  */

  .forgot-pass-container {
    padding: 30px;
  }

  .forgot-pass-container .btn {
    padding: 0.6em;
  }

  .forgot-pass__header h1 {
    font-size: 2rem;
  }

  .forgot-pass__form {
    width: 70%;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  .forgot-pass__form .input-group:first-child {
    flex: 3;
  }

  .forgot-pass__form .input-group:last-child {
    flex: 1;
  }

  .forgot-pass__form .input-group:last-child .btn.forgot-button {
    padding: 0.8em;
  }

  .forgot-pass__resend-text {
    inline-size: 45%;
    overflow-wrap: break-word;
  }

  .resend-button {
    width: 30%;
  }

  .profile-content-wrapper {
    padding: 3em 15%;
  }

  .main-content-wrapper .page-title {
    display: block;
  }

  .profile-aside__image-container {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: brown;
  }

  .product-cards__container {
    grid-template-columns: auto auto auto;
  }

  .product-categories {
    gap: 45px;
    justify-content: center;
  }

  .spacer {
    padding: 0 45px;
  }

  .homepage-hero {
    padding: 45px;
    height: calc(100vh - 65px);
  }

  .homepage-hero h2 {
    line-height: initial;
  }

  .homepage-abs__text .number {
    font-weight: 500;
    font-size: 1.25rem;
  }

  .homepage-abs__text .text {
    font-size: 1rem;
  }

  .homepage-cta {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .homepage-section {
    padding: 45px;
  }

  .about-section {
    padding-top: 80px;
  }

  /* .homepage-section .section__title {
    font-size: 2.1875rem;
  } */

  .favorite__content .favorite-item {
    width: 50%;
  }

  .homepage-footer {
    padding-top: 135px;
  }

  .homepage-abs__text .text,
  .homepage-section,
  .homepage-cta__content .description {
    font-weight: 400;
  }

  .sponsor__content {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }

  .sponsor-img {
    width: 100px;
  }

  .testimony-items {
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
  }

  .testimony-items::-webkit-scrollbar {
    display: none;
  }

  .testimony-item {
    width: 400px;
  }

  .product-section__wrapper,
  .promo-section__wrapper {
    padding: var(--spacing-mobile-horizontal) 30px;
  }
}

@media screen and (min-width: 1024px) {
  .auth-content {
    padding: 16px 50px;
  }

  .auth-footer {
    padding: 130px 50px 50px;
  }

  .general-footer {
    padding-top: 50px;
  }

  /* .footer-col {
    min-width: 150px;
  } */

  .auth-footer__right {
    gap: 50px;
  }

  /* ==============================  */
  /*  END OF LOGIN & SIGN UP STYLE  */
  /* ==============================  */
  .header-content__wrapper {
    justify-content: flex-start;
  }

  .logo-container {
    white-space: nowrap;
    flex: 2;
  }
  .toggler {
    display: none;
  }

  .menu-wrapper {
    display: block;
    position: initial;
    padding: 0;
    border: none;
    transition: 350ms ease-in;
    display: flex;
    justify-content: space-between;
    flex: 3;
  }

  .menu-wrapper ul {
    display: flex;
    gap: 1.25em;
    align-items: center;
  }

  .menu-wrapper ul li a {
    color: var(--color-gray);
  }

  .menu-wrapper .link-active a {
    font-weight: 700;
    color: var(--color-brown);
  }

  .profile-content-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 3.5em;
    width: 100%;
    display: grid;
    grid-template-areas:
      "a b b b b"
      "c b b b b"
      "d b b b b";
  }

  .profile-aside {
    margin: 0;
  }

  .form-content {
    grid-area: b;
  }

  .profile-content {
    background-color: var(--color-white);
    padding: 45px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 655px;
    gap: 45px;
    border-bottom: 6px solid var(--color-brown);
  }

  .profile-content form .input-group {
    width: 250px;
    margin: 0;
  }

  .profile-content__top form,
  .profile-content__bottom form {
    display: grid;
    gap: 25px;
  }

  .profile-content__top form {
    grid-template-columns: auto auto;
  }

  .profile-content__bottom form {
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
  }

  .profile-content-wrapper input[type="text"],
  .profile-content-wrapper input[type="email"],
  .profile-content-wrapper input[type="tel"],
  .profile-content-wrapper input[type="date"] {
    background-color: var(--color-white);
    padding-bottom: 0;
    padding-left: 0;
  }

  .product-cards__container {
    grid-template-columns: auto auto auto;
  }

  .product-page-container {
    border-top: 1px solid #9f9f9f;
    flex-direction: row;
  }

  .product-section__wrapper {
    border-bottom: none;
    border-left: 1px solid #9f9f9f;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-section__wrapper,
  .promo-section__wrapper {
    padding: 45px;
  }

  .promo-section {
    /* padding-left: 50px;
    padding-right: 50px; */
    padding: 0;
    flex: 1;
  }

  .product-section {
    flex: 3;
  }

  .homepage-header .spacer {
    padding: 0 65px;
  }

  .homepage-section {
    padding: 65px;
    gap: 50px;
  }

  .about-section {
    padding-top: 100px;
    flex-direction: row;
    align-items: center;
  }

  .about__content {
    align-items: flex-start;
  }

  .about-section > * {
    flex: 1;
  }

  .homepage-section.about-section .section__title,
  .homepage-section.about-section .section__description {
    text-align: left;
  }

  .about-container > * {
    padding: 0 30px;
  }

  .homepage-hero {
    justify-content: flex-start;
    padding: 65px;
    gap: 50px;
  }

  .homepage-section .section__title {
    margin-bottom: 25px;
  }

  .homepage-hero h2 {
    inline-size: 570px;
    overflow-wrap: break-word;
  }

  .homepage-hero p {
    inline-size: 500px;
    overflow-wrap: break-word;
  }

  .homepage-hero .btn {
    width: 350px;
    text-align: center;
  }

  .about__image-wrapper {
    display: block;
  }

  .favorite__content {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 30px;
  }

  .favorite__content .favorite-item {
    /* width: 330px; */
    padding: 50px 25px;
  }

  .favorite__content .favorite-item:not(:last-child) {
    margin-bottom: 0;
  }

  .sponsor-img {
    width: 150px;
  }

  .radio-input-group {
    padding: 2em 0;
  }
}

@media screen and (min-width: 1232px) {
  .product-cards__container {
    grid-template-columns: auto auto auto auto;
  }
}
